#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.add_products {
  border-top: 1px solid #FFF;
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add_products input {
  display: flex;
  margin: 0.5em;
  width: 20em;
  height: 2em;
}

.add_products button {
  margin-top: 2em;;
}
